
.orders-container{
    display: grid;
    grid-template-columns:3fr 1fr;
    grid-gap: 20px;
    padding-top: 200px;
}

.review-products-div{
        border-right: 2px solid lightgray;
    margin-left: 200px;
}

.review-products-div h2{
    color: red;
}

.order-summary{
    position: fixed;
}