.product-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-bottom: 2px solid lightgray;
    margin: 10px 0px;
    padding-right: 10px;

}

.product-details-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.price-stock-add h3{
margin: 0;
}

.price-stock-add button{
    padding: 3px 35px;
    margin: 10px 0px;
    background-color: rgb(255, 174, 0);
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.seller-name{
    margin-top: 0;
    margin-bottom: 20px;
}
.stock{
    margin: 0;
}

.rating-feature{
    margin-bottom: 10px;
}